@media screen and (max-width:1279px){
    .container,.philosophy-text{
        max-width: 100%;
    }

    .nav-menu{
        transform: translate(-100%);
        z-index: 999;
        background-color: #fff;
        transition: all .6s ease;
    }

    .nav-menu.active{
        transform: translate(0%) !important;
    }

    .testimonial-item{
        max-width: 240px;
    }
    .testimonial-item:nth-child(8),.testimonial-item:nth-child(9){
        right: 200px;
    }
    .testimonial-item:nth-child(10),.testimonial-item:nth-child(7){
        left: 200px;
    }
}

@media screen and (max-width:1024px){
    .contact-info{
        width: 100%;
    }
    .blog-cover-img{
        height: 64vw;
    }
    .portfolio-nav li a{
        min-width: 100px;
    }
    .project-content img{
        max-height: 64vw;
        margin-top: 24px;
    }
    .illus-icons li img{
        width: 64px;
    }

    .illus-icons li{
        margin:6px;
    }

    .testimonials-content h4{
        font-size: 24px;
        line-height: 32px;
    }

    .testimonials-content{
        max-width: 200px;
        max-width: 100%;
    }

    .testimonials-content img{
        max-width: 56px;
    }

    .testimonial-item{
        max-width: 100%;
        position: static;
        transform: rotate(0) !important;
        margin-top: 12px !important;
    }

    .testimonials{
        flex-wrap: wrap;
    }

    .testimonials-items{
        overflow: auto;
        padding: 12px;
    }

    .home-project-img{
        height: 64vw;
    }

    .home-h1{
        line-height: 40px;
    }
}

@media screen and (max-width:992px){
    .testimonial-item:nth-child(4), .testimonial-item:nth-child(5), .testimonial-item:nth-child(6){
        left: -100px;
    }
    .testimonial-item:first-child, .testimonial-item:nth-child(2), .testimonial-item:nth-child(3){
        right:-100px;
    }
    .testimonial-item:nth-child(10), .testimonial-item:nth-child(7){
        left: 100px;
    }
    .testimonial-item:nth-child(8), .testimonial-item:nth-child(9){
        right: 100px;
    }
}

@media screen and (max-width:767px) {
    .testimonials-items{
        height: 460px;
    }
}

@media screen and (max-width:576px) {
    .illus-icons li img{
        width: 42px;
    }
}

@media screen and (max-width:360px){
    .mobile-menu{
        margin-right: 8px;
    }
    .head-contact{
        padding: 8px 10px;
        margin-left: 8px;
    }
}