@media screen and (max-width:1280px){
    .container{
        max-width: 100%;
    }
    .nav-menu{
        transform: translate(-100%);
        z-index: 999;
        background-color: #fff;
        transition: all .6s ease;
    }

    .nav-menu.active{
        transform: translate(0%) !important;
    }
}

@media screen and (max-width:1024px){
    .contact-info{
        width: 100%;
    }
    .blog-cover-img{
        height: 64vw;
    }
    .portfolio-nav li a{
        min-width: 100px;
    }
    .project-content img{
        max-height: 64vw;
        margin-top: 24px;
    }
    .illus-icons li img{
        width: 64px;
    }

    .illus-icons li{
        margin:6px;
    }
    
}

@media screen and (max-width:576px) {
    .illus-icons li img{
        width: 42px;
    }
}

@media screen and (max-width:360px){
    .mobile-menu{
        margin-right: 8px;
    }
    .head-contact{
        padding: 8px 10px;
        margin-left: 8px;
    }
}