@media screen and (max-width:1280px){
    .menu-nav{
        background-color: #3A1849;
        z-index: 98;
        padding-top:88px;
        overflow: auto;
        opacity: 0;
        pointer-events: none;
        transition: all .4s ease;
    }
    .menu-nav.active{
        opacity: 1;
        pointer-events: all;
    }
    .header-logo,#dropdownDefaultButton,.menu-open-js{
        position: relative;
        z-index: 99;
    }
    .header{
        border-bottom: 0;
    }
    .menu-nav>li{
        height: auto;
    }
    .menu-nav .active a{
        border-bottom: 0;
    }
    #dropdownHover{
        position: static !important;
        transform: none !important;
    }
    .drop-nav{
        width: 100%;
    }
    .drop-nav svg path{
        stroke: #fff;
    }
    .drop-nav .text-purple{
        color:#fff;
    }
    .drop-nav .text-gray{
        color:rgba(255, 255, 255, 0.64);
    }
}

@media screen and (max-width:1200px){
    .container{
        max-width: 100%;
    }
    .google-map::before{
        top: -8px;
        left: -8px;
    }
    .google-map::after{
        right: -8px;
        bottom: -8px;
    }
    .acceptences::before{
        top: -8px;
        left: 8px;
    }
    .acceptences::after{
        bottom: -8px;
        right: 8px;
    }
}

@media screen and (max-width:1024px){
    .max-w-nav{
        max-width: 100%;
    }
    .contact-form-img::after{
        left: 8px;
        bottom: 8px;
    }
    .contact-form-img::before{
        top:8px;
        right:8px;
    }
    .contact-img{
        height: 284px;
    }
    .bg-at{
        background-size: 200px;
    }
    .services h4{
        font-size: 32px;
        line-height: 40px; 
        letter-spacing: -0.64px;
    }
    .our-approach-img{
        height: 232px;
    }

    .about-item:nth-child(even),.about-item:nth-child(odd){
        flex-direction: column;
    }
    
    .about-item:nth-child(even) .about-content{
        padding-left: 16px;
    }
    .w-percent40,.w-percent60{
        width: 100%;
    }

    .about-img-cover{
        height: 246px;
    }
    .home-about:nth-child(odd) .about-content{
        padding-left: 0;
    }
    .home-about:nth-child(even) .about-content{
        padding-right: 0;
    }
}

@media screen and (max-width:992px){
    .testimonials .owl-item{
        padding: 24px 16px;
    }

    .testimonials .owl-prev{
        left: 8px;
    }

    .testimonials .owl-next{
        right: 8px;
    }

    .testimonials .owl-dots{
        margin-top: 36px;
    }

    .testimonials .owl-prev,.testimonials .owl-next{
        width: 64px;
        height: 64px;
        background: #F5ECF9 !important;
        position: absolute;
        display: flex !important;
        align-items: center;
        justify-content: center;
    }

    .testimonials .owl-prev span,.testimonials .owl-next span{
        display: none;
    }
    .cookies-cutomise{
        height: calc(100vh - 32px);
    }
}

@media screen and (max-width:768px){
    .header-layer{
        height: 72px;
    }
    .min-h-custom{
        min-height: calc(100vh - 72px);
    }
    .acceptences-content{
        min-height: auto;
    }
    .acceptences-image{
        width: 100%;
        border-bottom-left-radius:0;
        border-top-left-radius:24px;
    }
    .acceptences-content::before{
        display: none;
    }
    .acceptences-content{
        width: 100%;
        border-top-right-radius:0;
        border-bottom-right-radius:24px;
    }
    .acceptences::after{
        top: -8px;
    }
    .acceptences::before{
        top:auto;
        bottom:-8px;
    }
    .blogs-news-content iframe{
        height: 240px;
        margin-top:10px;
        margin-bottom:16px;
    }
    .colleges-items .college-item:nth-child(odd){
        border-radius: 20px;
        border-right:6px solid #DABAE8;
        padding-left: 16px;
    }
    .colleges-items .college-item:nth-child(even){
        border-radius: 20px;
        border-left:6px solid #DABAE8;
        padding-right: 16px;
    }
    .college-item,.w-percent70,.w-percent30{
        width: 100%;
    }
    .college-item{
        height: auto;
    }
    .colleges-items .college-item:nth-child(odd) .college-details{
        padding-left: 0;
    }
    .colleges-items .college-item:nth-child(odd) .college-icon{
        margin-left: 0;
    }
    .colleges-items .college-item:nth-child(odd) span,
    .colleges-items .college-item:nth-child(even) span{
        margin-left: 0;
        margin-bottom: 16px;
        position: absolute;
        top:-30px;
    }
    .colleges-items .college-item:nth-child(even){
        flex-direction: column;
    }
    .colleges-items .college-item:nth-child(even) .college-icon,
    .colleges-items .college-item:nth-child(even) span{
        margin-right: 0;
    }
    .colleges-items .college-item:nth-child(even) .college-details{
        padding-right: 0;
        text-align: center;
    }
    .slider-indicators{
        padding-left: 16px;
    }
    .owl-carousel .owl-item img{
        max-width: 80px;
    }
    .cookie-policy .toggle{
        min-width: 44px;
    }
    .cookie-policy .toggle::before{
        width: 20px;
        height: 20px;
        top: 0;
        left: 0;
    }
    .cookie-policy .toggle:checked::before{
        transform: translateX(21px);
    }
}

@media screen and (max-width:576px){
   .not-found-quote{
        max-width: 100px;
   }
   .not-found-and{
    max-width: 300px;
    }
    .custom-pagination li a{
        font-size: 12px;
        min-width: 32px;
    }
    .blogs-news-content h2, .blogs-news-content h3, .blogs-news-content h4, .blogs-news-content h5, .blogs-news-content h6{
        margin-top: 16px;
        margin-bottom: 16px;
        font-size: 20px;
    }
}

@media screen and (max-width:360px){
    .header-socials a{
        font-size: 14px;
    }
    .header-socials img{
        width: 16px;
    }
}