/* font-family: "Playfair Display", serif; */
body{
    font-family: "Inter", serif;
}

.title{
    font-family: "Playfair Display", serif;
}

.title-color{
    color:#1D2939;
}

.bg-dark-purple{
    background-color: rgba(104, 43, 130, 1);
}

.elm-dark-purple{
    color:#682B82;
}

.elm-500{
    color:#A14FC5;
}

.elm-600{
    color:#7B3399;
}

.success-50{
    background-color: #ECFDF3;
}

.success-700{
    color: #027A48;
}

.elm-bg-700{
    background-color: #682B82;
}

.elm-300{
    color:#C694DC;
}

.text-dark-purple{
    color:rgba(104, 43, 130, 1);
}

.btn-bg{
    background-color: #F9F5FF;
}
.text-purple{
    color:#6941C6;
}

.elm-400{
    color:#B675D1;
}

.elm-200{
    color: #DABAE8;
}

.elm-50{
    background-color: #F5ECF9;
}

.text-gray{
    color:#344054;
}

.bg-light-purple{
    background-color: rgba(218, 186, 232, 1);
}

.text-light-purple{
    color: rgba(218, 186, 232, 1);
}

.text-light-white{
    color:rgba(255, 255, 255, 1);
}

.leading-18{
    line-height: 18px;
}

.max180px{
    max-width: 180px;
}

footer .logo img{
    height: 72px;
}

.foot-title{
    font-family: "Playfair Display", serif;
}

.subscribe-btn{
    padding: 10px 12px 10px 18px;
    min-width: 144px;
}

.help-icon{
    top:14px;
    right:14px;
    cursor: pointer;
}


/*HEADER styles*/
.header{
    border-bottom: 1px solid rgba(255, 255, 255, 0.24);
    background: rgba(255, 255, 255, 0.02);
    /* background-color: #682B82;  */
    /* test style */
}

.menu-nav>li{
    height: 96px;
}

.menu-nav .active a{
    border-bottom: 2px solid #fff;
}

.page-box{
    background-color: #000;
    color:#fff;
}

.max-w-nav{
    max-width: 604px;
}

.services-img{
    width: 248px;
}

.drop-nav{
    width: calc(100% - 248px);
}

.drop-nav a,.all-faq-questions button[aria-expanded="true"] svg,.services-item img{
    transition: all .4s ease;
}

.drop-nav a:hover{
    background-color: rgba(104, 43, 130, 1);
}

.drop-nav a:hover svg path{
    stroke: #fff;
}

.drop-nav a:hover span,.drop-nav a:hover small{
    color:#fff;
}

.bg-gray-custom{
    background-color: #F9FAFB;
}

.min-h-custom{
    min-height: calc(100vh - 96px);
}

.min-w-152{
    min-width: 152px;
}

.max-w-315{
    max-width: 315px;
}

.max-w-452{
    max-width: 452px;
}

.max-w-226{
    max-width: 226px;
}

/* NOT FOUND STYLE */
.title-notfound{
    font-size: 156px;
    line-height: 208px;
}

.bg-blur{
    background: rgba(235, 217, 242, 0.08);
    backdrop-filter: blur(12px);
}

.header-layer{
    height: 96px;
}

.elm-z-1{
    z-index: -1;
}
/* SECTION BANNER */
.section-banner{
    height: 562px;
}

.banner-layer{
    background: linear-gradient(180deg, #3A1849 4.44%, rgba(58, 24, 73, 0.24) 114.71%);
}

.max-w-960{
    max-width: 960px;
}

.faq-list button{
    background-color: #F2F4F7;
    min-width: 60px;
}

.faq-list button:hover,.faq-list button[aria-selected="true"]{
    background-color: #F5ECF9;
    color:#682B82;
}

.all-faq-questions button[aria-expanded="true"] svg{
    transform: rotate(45deg);
}

.all-faq-questions button{
    border-bottom:1px solid #EAECF0;
    background-color: #fff;
}

/* CONTACT FORM */
.contact-form{
    background: linear-gradient(180deg, #F5ECF9 0%, #FFF 100%);
}

.contact-img{
    height: 758px;
}

.rounded-tl-6xl{
    border-top-left-radius: 40px;
}

.rounded-br-6xl{
    border-bottom-right-radius: 40px;
}

.contact-form-img::before,.contact-form-img::after,.google-map::before,.google-map::after,.acceptences-content::before,.acceptences::before,.acceptences::after{
    content: '';
    display: block;
    position: absolute;
}

.contact-form-img::before{
    width: 200px;
    height: 200px;
    background-color: #682B82;
    top: 0;
    right: 0;
}

.contact-form-img::after{
    width: 100px;
    height: 100px;
    background-color: #C694DC;
    left: 0;
    bottom: 0;
}

.or-before-after::before,.or-before-after::after{
    content: '';
    display: block;
    width: 50%;
    height: 1px;
    background-color: #DABAE8;
}

.bg-at{
    background-image: url('../icons/at.svg');
    background-size: 320px;
    background-position: right top;
    background-repeat: no-repeat;
}

.phone-prefix-cover{
    left: 2px;
}

.phone-prefix select,.none-appearance{
    -moz-appearance: none;
    -webkit-appearance: none;
}

.phone-prefix select::-ms-expand,.none-appearance::-ms-expand {
    display: none;
}

/**/
.container-checkbox {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .container-checkbox input ~ .checkmark {
    top:2px;
  }

  .container-checkbox input:checked ~ .checkmark {
    background-color: #682B82;
    border-color:#682B82;
  }
  
  .checkmark:after{
    content: "";
    position: absolute;
    display: none;
  }
  
  .container-checkbox input:checked ~ .checkmark:after {
    display: block;
  }

  .container-checkbox .checkmark:after {
    left: 7px;
    top: 2px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* CONTACT PAGE */

  .map-content{
    height: 509px;
    border-radius: 0px 40px;
    background-color: orange;
  }

  .google-map::before{
    width: 217px;
    height: 217px;
    background-color: #EBD9F2;
    top:-16px;
    left:-16px;
    z-index: -1;
  }

  .google-map::after{
    width: 120px;
    height: 120px;
    background-color: #A14FC5;
    right: -16px;
    bottom:-16px;
    z-index: -1;
  }

  .acceptences-content{
    min-height: 256px;
    background-image: url('../icons/n.png');
    background-repeat: no-repeat;
    background-position: right top;
  }

  .light-acceptences{
    background-image: url('../icons/quote.png');
  }

  .acceptences-content h4{
    max-width: 658px;
  }

  .acceptences-content p{
    max-width: 452px;
  }

  .acceptences-image{
    width: 28%;
    border-bottom-left-radius: 64px;
  }

  .acceptences-content{
    width: 72%;
    border-top-right-radius: 64px;
  }

  .acceptences-content::before,.light-acceptences::before{
    height: 92%;
    width: 32px;
    border-top-left-radius: 26px;
    border-bottom-left-radius: 26px;
    background-color: #682B82;
    position: absolute;
    left: -32px;
    top: 4%;
  }

  .light-acceptences::before{
    background-color: #F5ECF9;
  }

  .acceptences::before{
    width: 96px;
    height: 96px;
    background-color: #C694DC;
    top: -16px;
    left: -16px;
    bottom: 0;
    z-index: -1;
  }

  .acceptences::after{
    width: 192px;
    height: 192px;
    background-color: #3A1849;
    bottom:-16px;
    right:-16px;
    z-index: -1;
  }

  .blogs-line{
    height: 1px;
  }

  .blogs-filter li.active a{
    background-color: #F5ECF9;
    color:#682B82;
  }

  .line-clamp-2,.line-clamp-3{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }

  .line-clamp-2{
    -webkit-line-clamp: 2;
  }

  .line-clamp-3{
    -webkit-line-clamp: 3;
  }

  .height-60{
    height: 60px;
  }

  .custom-pagination .active a{
    background-color: #F9FAFB;
  }

  .custom-pagination li{
    margin-left: 2px;
    margin-right: 2px;
  }

  .min-w-10{
    min-width: 40px;
  }

  .filter-dropdown{
    width: 304px;
  }

.min-w-16{
    min-width: 64px;
}

.blogs-news-content h2,.blogs-news-content h3,.blogs-news-content h4, .blogs-news-content h5, .blogs-news-content h6{
    margin-top:24px;
    margin-bottom:24px;
    color:#682B82;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}

.blogs-news-content img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top:24px;
    margin-bottom:24px;
}

.blogs-news-content iframe{
    margin-top: 20px;
    margin-bottom:24px;
    width: 100%;
}

.our-approach-img{
    height: 672px;
}

.min-h-168{
    min-height: 168px;
}

.value-img{
    background-color: #fff;
    position: relative;
    z-index: 6;
}

.value-img-box::before,.value-img-box::after{
    content: "";
    display: block;
    position: absolute;
}

.value-img-box::before{
    width: 44px;
    height: 44px;
    background-color: #C694DC;
    left: -4px;
    top:-4px;
}

.value-img-box::after{
    width: 32px;
    height: 32px;
    bottom:-4px;
    right:-4px;
    background-color: #EBD9F2;
}

.value-img-cover{
   background: rgb(161,79,197);
    background: linear-gradient(90deg, rgba(161,79,197,0.24079569327731096) 0%, rgba(161,79,197,0.01827468487394958) 100%);
}

.our-values{
    z-index: 2;
}

.value-bg{
    z-index: -1;
}

.w-percent40{
    width: 40%;
}

.w-percent60{
    width: 60%;
}

.about-item:nth-child(even){
    flex-direction: row-reverse;
}

.about-item:nth-child(even) .about-content{
    padding-right: 16px;
}

.about-item:nth-child(odd) .about-content{
    padding-left: 16px;
}

.about-img-cover{
    height: 418px;
}

.about-item:nth-child(odd) .about-img-cover{
    border-radius: 40px 0px;
}

.about-item:nth-child(even) .about-img-cover{
    border-radius: 0px 40px;
}

.about-img{
    position: relative;
}

.about-img::after{
    content: '';
    width: 220px;
    height: 220px;
    background-color: #F5ECF9;
    position: absolute;
    z-index: -1;
}

.about-img::before{
    content: '';
    width: 96px;
    height: 96px;
    background-color: #682B82;
    position: absolute;
    z-index: -1;
}

.about-item:nth-child(odd) .about-img::before{
    left: 0;
    bottom: 0;
}

.about-item:nth-child(even) .about-img::before{
    left: 0;
    top: 0;
}

.about-item:nth-child(odd) .about-img::after{
    top:0;
    right:0;
}

.about-item:nth-child(even) .about-img::after{
    bottom:0;
    right:0;
}

.services-title{
    border-radius: 0px 40px;
}

.services h4{
    font-size: 40px;
    letter-spacing: -0.8px;
    line-height: 56px;
}

.services .services-content{
    background-repeat: no-repeat;
    background-position: top right;
}

.services .services-item:first-child .services-content{
    background-image: url('../icons/services-bg1.svg') !important;
}

.services .services-item:last-child .services-content{
    background-image: url('../icons/services-bg5.svg') !important;
}

.services .services-item:nth-child(2) .services-content{
    background-image: url('../icons/services-bg2.svg') !important;
}

.services .services-item:nth-child(3) .services-content{
    background-image: url('../icons/services-bg3.svg') !important;
}

.services .services-item:nth-child(4) .services-content{
    background-image: url('../icons/services-bg4.svg') !important;
}

.services .services-item:nth-child(odd) .services-content{
    background-image: url('../icons/services-bg4.svg');
}

.services .services-item:nth-child(even) .services-content{
    background-image: url('../icons/services-bg1.svg');
}

.services-item img:hover{
    transform: scale(1.2);
}

.min-h72{
    min-height: 72px;
}

