body {
    font-family: "Geist", serif;
}

.bg-black {
    background-color: #0D0D12;
}

.text-black {
    color: #36394A;
}

.text-dark-black{
    color:#000;
}

.text-dark-gray {
    color: #1E293B;
}

.text-gray-600{
    color:rgba(30, 41, 59, 0.64);
}

.text-black-500 {
    color: #666D80;
}

.text-ellipsis{
    text-overflow: ellipsis;
}

.page-head {
    background-image: url('../icons/head-gradient.png');
    min-height: 484px;
}

.page-titles {
    max-width: 872px;
}

.contact-box-item {
    background-color: #F6F8FA;
    border: 2px solid #ECEFF3;
    border-radius: 24px;
}

.cbox-item {
    border: 1px solid #ECEFF3;
}

.contact-info {
    width: calc(100% - 256px);
}

.contact-info a {
    min-height: 108px;
}

.header.active {
    background-color: #fff;
    -webkit-box-shadow: 0px 3px 14px -7px rgba(153, 153, 153, 0.55);
    -moz-box-shadow: 0px 3px 14px -7px rgba(153, 153, 153, 0.55);
    box-shadow: 0px 3px 14px -7px rgba(153, 153, 153, 0.55);
}

.custom-select {
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
}

/* For IE10 */
.custom-select::-ms-expand {
    display: none;
}

/* Chrome, Safari, Edge, Opera */
.input-number::-webkit-outer-spin-button,
.input-number::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.input-number[type=number] {
    -moz-appearance: textfield;
}

.contact-submit{
    background-color: #0D0D12;
}

.contact-social-box{
    padding: 10px;
}

.contact-collapse button[aria-expanded="true"] .faq-plus{
    transform: rotate(-45deg);
}

.contact-collapse h3 button{
    color:#36394A;
}

.contact-collapse-item{
    background-color: #F6F8FA;
    border:1px solid #ECEFF3;
}

.contact-collapse-text{
    color:#666D80;
}

.contact-collapse-item button{
    background-color: transparent;
}

.bg-img{
    min-height: 600px;
    z-index: -1;
}

.blog-item a{
    border:1px solid #E2E8F0;
}

.blog-author span:first-child::after{
    content:'';
    display: inline-block;
    height: 16px;
    width: 2px;
    background-color: #000;
    position: relative;
    top:3px;
    margin-left: 8px;
    margin-right: 8px;
}

.line-clamp-2{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.blog-item:hover img,.portfolio-item:hover img{
    transform: scale(1.2);
}

.blog-item:hover h4,.portfolio-item:hover h4,.portfolio-item:hover div{
    color:#2563EB;
}

.tags-list li span{
    border:1px solid #ECEFF3;
    background-color: #F6F8FA;
}

.blog-cover-img{
    height: 500px;
}

.blog-content h4{
    font-size: 24px;
    margin-top:24px;
    margin-bottom:24px;
}

.contact-box-item .tags-list li span{
    background-color: #fff;
}

.portfolio-nav li a{
    min-width: 152px;
}

.portfolio-nav li a{
    border-color: transparent;
}

.portfolio-nav li a:hover,.portfolio-nav li.active a{
    border-color: #36394A;
}

.text-gray-200{
    color:#64748B;
}

.project-content img{
    max-height: 600px;
    object-fit: cover;
    border-radius: 24px;
    margin-top: 32px;
    width: 100%;
    height: 100%;
}

.service-item:first-child,.service-item:nth-child(5){
    background-color: #F0F9FF;
}

.service-item:first-child p,.service-item:nth-child(5) p{
    color:#0C4A6E;
}

.service-item:nth-child(2),.service-item:nth-child(7){
    background-color: #FFFBEB;
}

.service-item:nth-child(2) p,.service-item:nth-child(7) p{
    color:#78350F;
}

.service-item:nth-child(3){
    background-color: #FEF2F2;
}

.service-item:nth-child(3) p{
    color:#7F1D1D;
}

.service-item:nth-child(4){
    background-color: #F0FDFA;
}

.service-item:nth-child(4) p{
    color:#134E4A;
}

.service-item:nth-child(6){
    background-color: #FDF4FF;
}

.service-item:nth-child(6) p{
    color:#701A75;
}

.service-item a{
    transition: all .4s ease;
}

.service-item a:hover{
    -webkit-box-shadow: 0px 0px 19px -8px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 0px 19px -8px rgba(0,0,0,0.35);
    box-shadow: 0px 0px 19px -8px rgba(0,0,0,0.35);
}

.philosophy span{
    max-width: 520px;
}

.philosophy .philosophy-item:first-child{
    background-color: #F0FDF4;
    border-color: #16A34A;
}

.philosophy .philosophy-item:first-child h4 span{
    color:#16A34A;
}

.philosophy .philosophy-item:first-child .philosophy-text{
    color:#052E16;
}

.philosophy .philosophy-item:nth-child(2){
    background-color: #EFF6FF;
    border-color: #2563EB;
}

.philosophy .philosophy-item:nth-child(2) h4 span{
    color: #2563EB;
}

.philosophy .philosophy-item:nth-child(2) .philosophy-text{
    color:#172554;
}

.philosophy .philosophy-item:nth-child(3){
    background-color: #FDF4FF;
    border-color: #C026D3;
}

.philosophy .philosophy-item:nth-child(3) h4 span{
    color: #C026D3;
}

.philosophy .philosophy-item:nth-child(3) .philosophy-text{
    color:#4A044E;
}

.philosophy .philosophy-item:nth-child(4){
    background-color: #FEF2F2;
    border-color: #DC2626;
}

.philosophy .philosophy-item:nth-child(4) h4 span{
    color: #DC2626;
}

.philosophy .philosophy-item:nth-child(4) .philosophy-text{
    color:#450A0A;
}

.philosophy .philosophy-item:nth-child(odd){
    transform: rotate(-1deg);
}

.philosophy .philosophy-item:nth-child(even){
    transform: rotate(1deg);
}

.philosophy-text{
    max-width: 560px;
}