body{
    font-family: "Geist", serif;
}

.bg-black{
    background-color: #0D0D12;
}

.text-black{
    color: #36394A;
}

.text-dark-gray{
    color:#1E293B;
}

.text-black-500{
    color:#666D80;
}

.footer{
    min-height: 600px;
    background-image: url('../icons/Footer.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.page-head{
    background-image: url('../icons/head-gradient.png');
    min-height: 484px;
}

.page-titles{
    max-width: 872px;
}

.contact-box-item{
    background-color: #F6F8FA;
    border:2px solid #ECEFF3;
    border-radius: 24px;
}

.cbox-item{
    border:1px solid #ECEFF3;
}

.contact-info{
    width: calc(100% - 256px);
}

.contact-info a{
    min-height: 108px;
}

.header.active{
    background-color: #fff;
    -webkit-box-shadow: 0px 3px 14px -7px rgba(153, 153, 153, 0.55);
    -moz-box-shadow: 0px 3px 14px -7px rgba(153, 153, 153, 0.55);
    box-shadow: 0px 3px 14px -7px rgba(153, 153, 153, 0.55);
}